<ion-header>
  <ion-toolbar>
    <ion-title>Watchlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let movie of watchlist" (click)="goToMovieDetails(movie)" button>
      <ion-thumbnail slot="start">
        <img [src]="movie.poster !== 'N/A' ? movie.poster : 'assets/icon.png'">
      </ion-thumbnail>

      <div class="movie-content">
        <ion-label class="movie-title">{{ movie.title }}</ion-label>
        <p class="movie-year">{{ movie.year }}</p>
        <div class="movie-buttons">
          <ion-button color="danger" (click)="remove(movie); $event.stopPropagation()">
            Remove
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>