<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/search"></ion-back-button>
    </ion-buttons>
    <ion-title>Movie Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movie" class="ion-padding">
  <div class="movie-details-container">

    <div class="movie-poster">
      <img [src]="movie.Poster !== 'N/A' ? movie.Poster : 'assets/icon.png'" [alt]="movie.Title" *ngIf="movie.Poster">
    </div>

    <div class="detailed-info-container">
      <h1 class="movie-title">{{ movie.Title }}</h1>

      <div class="info-block" *ngIf="movie.Year">
        <h3>Release Year</h3>
        <p>{{ movie.Year }}</p>
      </div>

      <div class="info-block" *ngIf="movie.Genre">
        <h3>Genre</h3>
        <p>{{ movie.Genre }}</p>
      </div>

      <div class="info-block" *ngIf="movie.Actors">
        <h3>Cast</h3>
        <p>{{ movie.Actors }}</p>
      </div>

      <hr class="divider">

      <p class="movie-watched" *ngIf="isInWatched && movie.timesWatched">
        You have watched this <strong>{{ movie.timesWatched }}</strong> time(s).
      </p>
    </div>

      <div class="action-buttons">
        <ion-button 
          (click)="addToWatchlist()" 
          [disabled]="isInWatchlist || isInWatched"
          class="action-button">
          {{ isInWatchlist ? 'In Watchlist' : 'Add to Watchlist' }}
        </ion-button>

        <ion-button 
          (click)="markAsWatched()" 
          color="success"
          class="action-button">
          {{ isInWatched ? 'Watch Again' : 'Mark as Watched' }}
        </ion-button>

        <ion-button 
          *ngIf="isInWatched"
          (click)="resetWatchCount()" 
          color="warning"
          class="action-button">
          Reset & Move to Watchlist
        </ion-button>
      </div>
    </div>
</ion-content>